extends layout

block content
  link(rel='stylesheet', href='/stylesheets/real.css')
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  script.
    document.getElementById("real").className="current";
    let count = 0;    //차트 날짜와 데이터 표시를 위한 전역 변수 선언

    setInterval(function() {  
      updateData();
    }, 2000);

    const updateData = () => {
      $.ajax({
        data: {},
        type: 'get', 
        dataType : 'html', 
        url: "/api/updateData", 
        contentType: 'application/json', 
        success: (html) => {
          $("#info-table > tbody").html(html);
        },
        error: (err) => {
          console.log(err)
        }
      })
    }

  .row
    .col-5
      h1(style='text-align:center') 실시간 자료 조회
      br
      table#nowTable
        thead
          tr
            th(colspan='2', style='background-color:#dadada') 실시간 데이터
        tbody
          tr 
            th 시간
            td #{latest[0].rgstDt}
          tr
            th 풍향
            td
              img.wind-direction-icon(src="images/Black_Arrow.png", alt="wind-direction" style={ height: '100px', width: '100px', transform: `rotate(${latest[0].windDirection}deg)`})
          tr
            th 풍속
            td #{latest[0].windSpeed}
    .col-6
      h1(style='text-align:center') 최근 10시간 데이터
      .container
        canvas#myChart

      script.
        const greenBg = 'rgba(43,255,0,0.4)';
        const greenBd = 'rgba(43, 255, 0, 1)';
        const ctx = document.getElementById('myChart'); 
        const myChart = new Chart(ctx, { 
          type: 'bar', 
          data: { 
            labels: [],
            datasets: [{ label: '평균 풍속(m/s) ', data: [], 
                          backgroundColor: [], 
                          borderColor: [], 
                          borderWidth: 1
                      }]
          }, 
          options: { 
            scales: { 
              yAxes: [{ 
                ticks: { beginAtZero: true }
              }]
            }
          }
        });
        
        for(let i=0; i<10; i++) {
          myChart.data.datasets.forEach((backgroundColor) => {
            backgroundColor.backgroundColor.push(greenBg);
          });
          myChart.data.datasets.forEach((borderColor) => {
            borderColor.borderColor.push(greenBd);
          });
        }

    //- 여기서부터는 백엔드에서 받아온 데이터를 html 상에선 사용할 수 있지만 script 속에서는 사용할 수 없음
    //- (html에서 데이터를 다 받아와 페이지에 표시한 후 script가 돌기 때문에 반복문을 돌려도 항상 마지막 값만 조회됨)
    //- 그래서 받아온 데이터를 반복문을 이용하여 hidden 옵션으로 안보이게 받아온 후 하나씩 참조하여 데이터를 차트에 삽입
    //- 이를 위하여 맨 위에 script에서 count를 전역 변수로 선언
    -for(let i=0; i<10; i++)
      input(id='day'+i, type='hidden', value=datas[i].rgstDt)
      input(id='val'+i, type='hidden', value=datas[i].windSpeed)
      script.
        myChart.data.labels.push(document.getElementById('day'+count).value);

        myChart.data.datasets.forEach((datasets) => {
          datasets.data.push(document.getElementById('val'+count).value);
        });

        count++;
        myChart.update();