extends layout

block content
  link(rel='stylesheet', href='/stylesheets/module.css')

  script.
    document.getElementById("module").className="current";

    //- 삭제 버튼을 눌러 모듈 정보를 삭제하는 함수
    const deleteModule = (deviceId) => {
      if(confirm("삭제하시겠습니까?")) {
        $.ajax({
          data: {
            'deviceId': deviceId
          },
          type: 'get',
          dataType : 'html',
          url: "/module/api/delete", 
          contentType: 'application/json', 
          success: (success) => {
            alert('삭제완료');
            location.reload();
          },
          error: (err) => {
            alert('삭제실패');
            console.log(err)
          }
        })
      }
    }

  p#title 장치 목록 

  table#listTable(border='1')
    thead
      th 장치 이름
      th 장치 유형
      th 장치 위치
      th 등록 일자
      th 수정
      th 삭제
    each list in moduleList
      tbody
        td #{list.deviceId}
        td #{list.deviceType}
        td #{list.location}
        td #{list.rgstDt}
        td
          button.btn.btn-dark(onClick=`location.href='/modifyModule?deviceId=${list.deviceId}'`) 수정
        td
          button.btn.btn-dark(onClick=`deleteModule('${list.deviceId}')`) 삭제
  br
  div
    button.btn.btn-dark(onclick="location.href='/registModule'" style='margin-left: 5px') 새 장치 등록